Q.[1] : What are escape characters, and how do you use them?

Ans:- 

      
      Following table provides the list of escape characters in Python.

      Code	  Description
      
      \’    ->  Single Quote
      
      \”	->  Double Quote
      
      \\	->  Backslash
      
      \n	->  New Line
      
      \r    ->  Carriage Retrun
      
      \t	->  Tab
      
      \b	->  Backspace

In [2]:
a = 'hello\'Dk'
print(a)

hello'Dk

In [5]:
b = "hello\"UK"
print(a)

hello"UK

In [6]:
c = "hello\\Dk"
print(c)

hello\Dk

In [7]:
d = "hello\tDK"
print(d)

hello	DK

In [13]:
e = "hello\bUK" 
print(e)

helloUK

In [15]:
f = "hello\rDK"
print(f)

DK

In [16]:
g = "hello\nUK"
print(g)

hello
UK

Q.[2] : What do the escape characters n and t stand for?

Ans:- "\t" is a tab, "\n" is a newline

In [17]:
d = "hello\tDK"
print(d)

hello	DK

In [18]:
g = "hello\nUK"
print(g)

hello
UK

Q.[3] : What is the way to include backslash characters in a string?

Ans:- a = "my name is\\Dattatri"

In [20]:
a = "my name is\\Dattatri"
print(a)

my name is\Dattatri

Q.[4] : The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not 
        escaped a problem?
        
Ans:- The single quote in Howl's is fine because we have used double quotes to mark the beginning and end of the string.

In [21]:
b = "Howl's Moving Castle"
print(b)

Howl's Moving Castle

Q.[5] : How do you write a string of newlines if you don't want to use the n character?

Ans:-  we can use the parameter end ='\n' in print function

In [3]:
print("printing something in multiple lines",end = '\n')
print("newline")

printing something in multiple lines
newline

Q.[6] : What are the values of the given expressions?
    
       'Hello, world!'[1]
       'Hello, world!'[0:5]
       'Hello, world!'[:5]
       'Hello, world!'[3:]
       
Ans:-  

      'Hello, world!'[1]   -> 'e'
      
      'Hello, world!'[0:5] -> 'Hello'
      
      'Hello, world!'[:5]  -> 'Hello'
      
      'Hello, world!'[3:]  -> 'lo, world!'

In [4]:
'Hello, world!'[1]

'e'

In [5]:
'Hello, world!'[0:5]

'Hello'

In [6]:
'Hello, world!'[:5]

'Hello'

In [7]:
'Hello, world!'[3:]

'lo, world!'

Q.[7] : What are the values of the following expressions?


     'Hello'.upper()
     'Hello'.upper().isupper()
     'Hello'.upper().lower()
     
Ans:-

     'Hello'.upper()            -> 'HELLO'
     
     'Hello'.upper().isupper()  ->  True
     
     'Hello'.upper().lower()    -> 'hello

In [11]:
'Hello'.upper()

'HELLO'

In [13]:
'Hello'.upper().isupper()

True

In [14]:
'Hello'.upper().lower()

'hello'

Q.[8] : What are the values of the following expressions?


      'Remember, remember, the fifth of July.'.split()
      '-'.join('There can only one.'.split())
      
Ans:- 

      'Remember, remember, the fifth of July.'.split()  -> ['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']
      
      '-'.join('There can only one.'.split())           -> 'There-can-only-one.'

In [15]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [18]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

Q.[9] : What are the methods for right-justifying, left-justifying, and centering a string?

Ans:-   

      The following methods are used for justifying strings
      
      ljust()
      rjust()
      center()

In [24]:
str ="Dattatri"
str.ljust(20,"_")

'Dattatri____________'

In [23]:
str = "Dattatri"
str.rjust(20,"_")

'____________Dattatri'

In [28]:
str = "Dattatri"
str.center(20,"_")

'______Dattatri______'

Q.[10] : What is the best way to remove whitespace characters from the start or end?

Ans:- 

      lstrip()  ->  Return a copy of the string with leading whitespace removed.
      
      rstrip()  ->  Return a copy of the string with trailing whitespace removed.

In [29]:
d = "  Dattatri  "
d.lstrip()

'Dattatri  '

In [30]:
k = "  Dattatri  "
k.rstrip()

'  Dattatri'